*{
  margin:0em;
  padding:0em;
  border:0em;  
}


body { 
    font-family: "raleway", sans-serif;
    color:#fff;
    background-color: #000; 
}

header {
font-weight: 500;
text-align: center;


}

h1{
text-align: center;  
font-weight: 500;
font-size: 3rem;
}

span {
color: #006400;
}

.desc-section {
margin:auto;
width:90%;
/* vertical-align: middle;*/
}

.texto{
display: inline-block;
width:50%;
padding: 2rem;
vertical-align: middle;
} 

.texto p {
margin-bottom: 1rem;
font-size: 2rem;
}

.desc-img {
  display: inline-block;
  width: 35%;
  vertical-align: middle;
}

.icon-section {
  background-color: #1e1a13;
  text-align: center;
  font-size:2rem;
}

.icono {
  display: inline-block;
  width: 25%;
  font-size: 2rem;
  text-align: center;
}

.galeria {
  padding: 2rem 0;
}

div {
text-align: center;

}
.centrado {
  display: inline-block;
  width: 100%;
}
.centrado-fotos {
  display: inline-block;
  width: 25%;
}
.centrado-fotos img {
  top: 1561px;
  left: 150px;
  width: 316px;
  height: 202px;
}


.footer {
background-color:#1e1a13;
text-align: center;
padding: 1rem;
text-align:center;
font-size: 2rem;
}